.box-core-value {
  padding-left: 80px;
  position: relative;
  padding-top: 15px;
  .shape-left {
    height: 107px;
    width: 26px;
    background: url(../imgs/page/about/arrow-down.png) no-repeat top left;
    position: absolute;
    top: 35px;
    left: 30px;
  }
}
.box-border-dashed {
  border-bottom: 1px dashed $color-gray-300;
}
.list-core-value {
  list-style: none;
  padding: 0px;
  margin: 0px;
  li {
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
    // background: url(../imgs/page/about/check.svg) no-repeat top left;
    .ticked {
      position: absolute;
      border-radius: 50%;
      top: 0px;
      left: 0px;
      height: 27px;
      width: 27px;
      background: $color-gray-60 url(../imgs/page/about/tick.svg) no-repeat
        center;
    }
    &:last-child {
      .box-border-dashed {
        border-bottom: 0px;
      }
    }
  }
}
.bg-core-value {
  background-image: url(../imgs/page/about/circle.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.list-socials {
  margin-top: 30px;
  .icon-socials {
    height: 16px;
    width: 16px;
  }
}
.box-list-core-value {
  margin-top: 110px;
}
