.scrollbar {
  position: absolute;
  bottom: 20px;
  width: 56px;
  height: 56px;
  background: url(../imgs/page/homepage4/scrollbar.png) no-repeat center;
  background-size: contain;
  left: 0px;
  right: 0px;
  margin: auto;
}
