.table-compare {
  border-collapse: collapse;
  border: 0px;
  min-width: 800px;
  width: 100%;
  margin-bottom: 0 !important;
  thead {
    tr {
      th {
        background-color: $color-gray-80;
        padding: 20px;
        font-size: 16px;
        line-height: 24px;
        color: $color-brand-1;
        &.color-success {
          color: $color-success;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        border-bottom: 1px solid $color-gray-80;
        padding: 20px;
        font-size: 16px;
        line-height: 24px;
        color: $color-gray-400;
      }
    }
  }
}
.icon-18 {
  height: 18px;
}
.width-28 {
  width: 28%;
}
.width-18 {
  width: 18%;
}
